.projectTitle {
    display: flex;
    writing-mode: vertical-lr;
    font-size: 7rem;
    max-height: min-content;
    rotate: 180deg;
}

.projects {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;
}

.projectCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: .25rem;
    gap: 15rem;
}

.projectCard:hover {
    cursor: pointer;
}

.projectContainer:not(:last-child) {
    border-bottom: 1px solid white;
}

.projectContainer {
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
}

.projectList {
    width: 40%;
}